<h3>Fetched clubs</h3>
<div class="clubs">
  <div class="club" *ngFor="let club of clubs">
    <img class="teamIcon" src={{club.teamIconUrl}}/>
    <span>{{club.shortName}}(id: {{club.teamId}})</span>
  </div>
</div>
<h3>Table</h3>
<div class="leagueTable">
  <div class="tableEntry" *ngFor="let tableEentry of tableEntries">
    <div style="order:1">{{tableEentry.club.shortName}}</div>
    <div style="order:2">{{tableEentry.scored}}</div>
    <div style="order:3">{{tableEentry.received}}</div>
    <div style="order:4">{{tableEentry.points}}</div>
  </div>
</div>
<h3>Probabilites</h3>
<div class="probabilities" *ngFor="let probability of probabilities">
  <span style="order: 1">{{probability.place}}</span>
  <span style="order: 2">{{probability.count}}</span>
</div>

