img.teamIcon{
  width: 16px;
  height: 16px;
  margin-inline: 16px;
}

div.club, div.clubs{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

div.tableEntry{
  display: flex;
  align-items: center;
  column-gap: 30px;
  justify-content: flex-end;
}

.probabilities{
  display: flex;
  column-gap: 30px;
}
