img.teamIcon{
  width: 16px;
  height: 16px;
  margin-inline: 16px;
}

div.club, div.clubs{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

div.tableEntry{
  display: flex;
  justify-content: flex-start;
  column-gap: 15px;
}

div.tableEntry>div:first-child{
  min-width: 150px;
}

div.tableEntry>div{

}

div.bigTableEntry{
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
}

div.bigTableEntry>div:first-child{
  min-width: 220px;
  justify-content: left;
}

div.bigTableEntry>div{
  display: flex;
  min-width: 80px;
  justify-content: right;
}

.probabilities{
  display: flex;
  column-gap: 30px;
}
