<h3>Fetched clubs</h3>
<div class="clubs">
  <div class="club" *ngFor="let club of clubs">
    <img class="teamIcon" src={{club.teamIconUrl}}/>
    <span>{{club.shortName}}(id: {{club.teamId}})</span>
  </div>
</div>
<h3>Table</h3>
<div class="leagueTable">
  <div class="tableEntry" *ngFor="let tableEntry of tableEntries">
    <div style="order:1">{{tableEntry.club.shortName}}</div>
    <div style="order:2">{{tableEntry.scored}}</div>
    <div style="order:3">{{tableEntry.received}}</div>
    <div style="order:4">{{tableEntry.points}}</div>
  </div>
</div>
<h3>Probabilities</h3>
<div class="bigTableEntry">
  <div style="order: 1">Vereinsname</div>
  <div style="order: 1">Meister</div>
  <div style="order: 1">C. League</div>
  <div style="order: 1">europäisch</div>
  <div style="order: 1">Platz 7</div>
  <div style="order: 1">Mittelfeld</div>
  <div style="order: 1">Relegation</div>
  <div style="order: 1">2. Liga</div>
</div>
<div class="bigTableEntry" *ngFor="let competition of competitions">
  <div style="order: 1">{{competition.club.teamName}}</div>
  <div style="order: 1">{{competition.champion}}</div>
  <div style="order: 1">{{competition.championsLeague}}</div>
  <div style="order: 1">{{competition.optionalEuropean}}</div>
  <div style="order: 1">{{competition.european}}</div>
  <div style="order: 1">{{competition.midfield}}</div>
  <div style="order: 1">{{competition.relegation}}</div>
  <div style="order: 1">{{competition.secondLeague}}</div>
</div>
